<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/output.css">
        
        <!-- Fonts -->
        <link href="https://fonts.cdnfonts.com/css/old-english-five" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/southing" rel="stylesheet">
                                
    </head>
    <body class="flex h-full w-full flex-col justify-between">
      <div class="flex h-full w-full flex-col justify-between">
        <div class="flex h-full flex-row justify-center border">
          <main class="p-3 md:w-8/12">
            <header class="flex flex-row items-start justify-center">
              <div class="w-1/4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 md:hidden">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <div class="hidden flex-col items-start text-xs md:flex">
                  <p><%= currentDate %></p>
                  <p>Today's Paper</p>
                </div>
              </div>
              <div class="w-1/2 text-center">
                <h1 class="whitespace-nowrap font-mono text-lg md:text-3xl" style="font-family: Old English Five;">Uncrowded News</h1>
                <p class="hidden font-sans text-xs font-thin italic md:block md:text-sm" style="font-family: 'Southing', sans-serif;">"All the news that we could scrape"</p>
              </div>
              <div class="flex w-1/4 flex-row justify-end">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 md:size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>
              </div>
            </header>
            <% featuredNews.forEach(news => { %>
              <section>
                <h2 class="mt-5 font-semibold md:text-lg border-b-2 border-t-2"><%- news.category %></h2>
                <div class="mt-3 grid grid-cols-1 md:grid-cols-4 gap-4">
                  <div class="col-span-2 flex flex-col border p-3">
                    <div>
                      <img class="aspect-video w-full object-cover" src="<%= news.items[0].thumbnail.image_url %>" alt="News Thumbnail" />
                    </div>
                    <div class="flex w-full flex-col justify-evenly gap-2">
                      <div>
                        <span class="text-xs text-slate-500"><%= news.items[0].date_published %></span>
                      </div>
                      <a class="line-clamp-2 cursor-pointer text-base font-semibold" href="<%= news.items[0].url %>"><%= news.items[0].title %></a>
                      <p class="line-clamp-2 text-sm"><%= news.items[0].description %></p>
                    </div>
                  </div>
                  <div class="grid grid-cols-1 p-3 md:p-0 gap-4 md:gap-0 items-center col-span-2">
                    <div class="w-full">
                      <span class="flex flex-col justify-start">
                        <p class="text-xs text-slate-500"><%= news.items[1].date_published %></p>
                        <a href="<%= news.items[1].url %>" class="line-clamp-2 cursor-pointer text-xs font-semibold hover:underline"><%= news.items[1].title %></a>
                      </span>
                      <p class="text-xs text-slate-700 line-clamp-2"><%= news.items[1].description %></p>
                    </div>
                    <div class="w-full">
                      <span class="flex flex-col justify-start">
                        <p class="text-xs text-slate-500"><%= news.items[2].date_published %></p>
                        <a href="<%= news.items[2].url %>" class="line-clamp-2 cursor-pointer text-xs font-semibold hover:underline"><%= news.items[2].title %></a>
                      </span>
                      <p class="text-xs text-slate-700 line-clamp-2"><%= news.items[2].description %></p>
                    </div>
                    <div class="w-full">
                      <span class="flex flex-col justify-start">
                        <p class="text-xs text-slate-500"><%= news.items[3].date_published %></p>
                        <a href="<%= news.items[3].url %>" class="line-clamp-2 cursor-pointer text-xs font-semibold hover:underline"><%= news.items[3].title %></a>
                      </span>
                      <p class="text-xs text-slate-700 line-clamp-2"><%= news.items[3].description %></p>
                    </div>
                    <div class="w-full">
                      <span class="flex flex-col justify-start">
                        <p class="text-xs text-slate-500"><%= news.items[4].date_published %></p>
                        <a href="<%= news.items[4].url %>" class="line-clamp-2 cursor-pointer text-xs font-semibold hover:underline"><%= news.items[4].title %></a>
                      </span>
                      <p class="text-xs text-slate-700 line-clamp-2"><%= news.items[4].description %></p>
                    </div>
                  </div>
                </div>
              </section>
            <% }); %>
          </main>
        </div>
      </div>
      <footer class="w-full border-t p-3">
        <h2 class="text-left text-sm">© 2024 - Made with coffee and keyboard</h2>
      </footer>
    </body>
</html>